<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_1280.jpg');
  background-size : cover;
  height :100vh;
}
</style>
<title>Checkcompany</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-top w3-bar w3-black">
<a href="/" class="w3-bar-item w3-button">Home</a>
<a href="https://datastudio.google.com/reporting/8db76226-0c1b-4233-913a-b019ad9cbaec" class="w3-bar-item w3-button">Company Data</a>
<a href="/checkcompany" style = "color : gray" class="w3-bar-item w3-button">Check company</a>
<a href="/reviews" class="w3-bar-item w3-button">Enter reviews</a>
</div>

<div style="position: relative; left: 25%; top: 25%;
  border: 1px solid white;
  border-radius: 12px;
  padding: 5px;
  background-color: rgba( 0, 0, 0, 0.5 );
  width: 50%;">
<div class ="w3-container w3-white" style="border-radius: 12px;">
  <h1 class="w3-text-black" style="text-align:center"><b>Total Score</b></h1>
<div style="text-align:center">
<h2 style="color:red"><b>
{{data}}
</b><br></h2>
 </div>
<div style="text-align:center">
<a>
    <button class="w3-btn w3-blue" style="border-radius: 12px;" onclick="location.href='/'">Home</button>
    <button class="w3-btn w3-blue" style="border-radius: 12px;" onclick="location.href='/checkcompany'">Again</button>
</a>
</div>  
</div>
</div>

</body>
</html> 