<!DOCTYPE html>
<head>
<html lang="en">
<meta charset="UTF-8">
<title>Checkcompany</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_1280.jpg');
  background-size : cover;
  height :100vh;
}


html,body {font-family:"Verdana",sans-serif}
h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",sans-serif}
</style>
<script src=""></script>
</head>
<body>

<!-- Navigation (Stays on Top) -->
<div class="w3-top w3-bar w3-black">
<a href="/" class="w3-bar-item w3-button" style="color : gray ">Home</a>
<a href="https://datastudio.google.com/reporting/8db76226-0c1b-4233-913a-b019ad9cbaec" class="w3-bar-item w3-button">Company Data</a>
<a href="/checkcompany" class="w3-bar-item w3-button">Check company</a>
<a href="/reviews" class="w3-bar-item w3-button">Enter reviews</a>
</div>
<div id="home" class="w3-content">

<!-- Image in Display Container -->
<div class="w3-padding-top-48">
<div class="w3-display-container">


<div class="w3-display-topleft w3-padding-small w3-hide-small" >
<h1 style="color : white">Check your Company</h1>
<h2 style="color : white">This Website for Company review</h2>
<p style="color : white">Please use the navigation bar at the top .</p>

</body>
</html>
